---
import config from "@/config/config.json";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa/index.js";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, date, author, categories } = data.data;
---

<div class="bg-body bg-gray-100 rounded-lg dark:bg-gray-900 duration-300 hover:scale-105 ease-in-out">
  {
    image && (
      <Image
        class="w-full rounded-t"
        src={image}
        alt={title}
        width={445}
        height={230}
        format="webp"
      />
    )
  }
  <div class="p-4">
    <h4 class="mb-2">
      <a href={`/${blog_folder}/${data.slug}`}>
        {title}
      </a>
    </h4>
    <ul class="mb-3">
      <!-- <li class="mr-4 inline-block">
        <a href={`/autores/${slugify(author)}`}>
          <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
          {humanize(author)}
        </a>
      </li>-->
      <li class="mr-4 inline-block">
        <FaRegFolder className={"mr-2 -mt-1 inline-block"} />
        {
          categories.map((category: string, index: number) => (
            <a href={`/categories/${slugify(category)}`}>
              {humanize(category)}
              {index !== categories.length - 1 && ","}
            </a>
          ))
        }
      </li>
    </ul>
    <p class="mb-3">{plainify(data.body?.slice(0, Number(summary_length)))}...</p>
    <a
      class="btn btn-outline-primary btn-sm"
      href={`/${blog_folder}/${data.slug}`}
    >
      Leer más
    </a>
  </div>
</div>
