---
const { data } = Astro.props;
const {
  title,
  description,
  author,
  link,
  cost,
  tags,
} = data.data;
---

<a
  href={link}
  target="_blank"
  class="relative block overflow-hidden rounded-lg border duration-300 hover:scale-105 ease-in-out bg-gray-900 dark:bg-white border-gray-100 p-4 sm:p-6 lg:p-8"
>
  <span
    class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-yellow-300 to-orange-500"
  ></span>

  <div class="sm:flex sm:justify-between sm:gap-4">
    <div>
      <h3 class="text-lg font-bold text-white dark:text-gray-800 sm:text-xl">
        {title}
      </h3>

      <p class="mt-1 text-xs font-medium text-gray-600">Por: {author}</p>
    </div>

    <!-- Image: <div class="hidden sm:block sm:shrink-0">
      <img
        alt="Paul Clapton"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
        class="h-16 w-16 rounded-lg object-cover shadow-sm"
      />
    </div> -->
  </div>

  <div class="mt-4">
    <p class="max-w-[40ch] text-sm text-gray-200 dark:text-gray-500">
      { description }
    </p>
  </div>

  <dl class="mt-6 flex gap-4 sm:gap-6">
    <div class="flex flex-col">
      <dt class="text-sm font-medium text-gray-300 dark:text-gray-600">Precio:</dt>
      <dd class="text-xs text-gray-200 dark:text-gray-500">{cost}</dd>
    </div>

    <div class="flex flex-col">
      <dt class="text-sm font-medium text-gray-300 dark:text-gray-600">Tags:</dt>
      <dd class="text-xs text-gray-200 dark:text-gray-500">{tags}</dd>
    </div>
  </dl>
</a>
