---
import Base from "@/layouts/base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { Content } = await about.render();
const { title, description, meta_title, image } = about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="grid md:col-10 lg:col-7">
          <h2 set:html={markdownify(title)} class="h3 mb-6" />
          <div class="content">
            <Content />
          </div>
          <div class="place-self-center">
            <svg class="fill-midnight dark:fill-white w-32" viewBox="0 0 700 700"><path d="M472.4 307.68c-12.094 11.43-20.582 26.668-20.582 43.309v5.379c0 28.117-22.789 50.91-50.906 50.91h-101.82c-28.117 0-50.906-22.793-50.906-50.91v-5.379c0-16.641-8.488-31.879-20.582-43.309-34.352-32.488-55.785-78.484-55.785-129.49 0-98.41 79.777-178.18 178.18-178.18s178.18 79.773 178.18 178.18c0 51.008-21.434 97.004-55.785 129.49zm-34.98-36.996c24.609-23.266 39.855-56.059 39.855-92.496 0-70.293-56.984-127.27-127.27-127.27s-127.27 56.98-127.27 127.27c0 36.438 15.246 69.23 39.855 92.496 19.172 18.133 36.508 45.926 36.508 80.305v5.379h101.82v-5.379c0-34.379 17.336-62.172 36.508-80.305zM273.64 458.18c0-14.059 11.398-25.457 25.453-25.457h101.82c14.055 0 25.453 11.398 25.453 25.457 0 14.055-11.398 25.453-25.453 25.453h-101.82c-14.055 0-25.453-11.398-25.453-25.453zm50.91 50.91c-14.059 0-25.457 11.398-25.457 25.457 0 14.055 11.398 25.453 25.457 25.453h50.906c14.059 0 25.457-11.398 25.457-25.453 0-14.059-11.398-25.457-25.457-25.457z"/></svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
