---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";

const contact = await getEntry("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contact.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form
            action="https://formspree.io/f/xrgnbzbz"
            method="POST"
          >
            <div class="mb-6">
              <label for="name" class="form-label">
                Nombre completo <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="Introduce tu nombre..."
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                Email <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="Introduce tu email..."
                type="email"
              />
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                Mensaje <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="Escribe tu mensaje..."
                rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <input type="hidden" name="_next" value="/thank-you" />
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
